MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/databasename
JWT_SECRET=your_long_random_secret_here
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloud_apikey
CLOUDINARY_API_SECRET=your_cloud_secretapikey
GROQ_API_KEY=your_groq_apikey